p {
  color: green;
}
h1 {
  color: red;
  font-size: 70 px;
}
body {
  color: yellow;
}
a {
  color: black;
}
.menu {
  width: 1400px;
  padding: 0 1340px;
  text-transform: uppercase;
  margin: 0 auto;
}
li {
  display: inline;
  margin: 10px;
}
.container {
  font-family: Arial, Helvetica, sans-serif;
  width: 1400px;
  margin: 0 auto;
  background-color: aliceblue;
}
